<header>
  <nav>
    <a href="/firstApi">All Users</a>
    <a href="/company">Users by company</a>
    <a href="/city">User's city</a>
    <a href="/posts">User's posts</a>
    <a href="/men">Men and Women</a>
    <a href="/olderman">Man older then 30</a
    ><a href="/youngerwoman">Woman younger than 30</a>
    <a href="/secondwoman">Second Oldest woman</a>
    <a href="/userage">Oldest & Youngest user</a>
    <a href="/sortedusers">Sorted users</a>
  </nav>
</header>
